{namespace templates.parties autoescape="contextual"}

/**
 * Renders all the parties
 */
{template .index}
  Hello world
{/template}

/**
 * Renders a particular party
 */
{template .view}
  Hello world
{/template}

/**
 * create a party
 */
{template .create}
  Hello world
{/template}
